@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic,700italic,700);

* {
	margin: 0;
	padding: 0;
	font-family: "Lato";
}

#calendrier,
#calendrier li {
	margin: 0;
	padding: 0;
}

#calendrier {
	height: 600px;
	width: 1600px;
}

#calendrier li {
	display: inline-block;
	width: 200px;
	height: 200px;
	vertical-align: top;
	line-height: 200px;
	text-align: center;
}

li.turquoise{
	background-color: #37BC9B;
}

li.turquoise a:link,
li.turquoise a:visited {
	color: #F9E9C2;
	text-decoration: none;
}

li.marron {
	background-color: #5B4831;
}

li.marron a:link,
li.marron a:visited {
	color: #37BC9B;
	text-decoration: none;
}

li.beige {
	background-color: #F9E9C2;
}

li.beige a:link,
li.beige a:visited {
	color: #5B4831;
	text-decoration: none;
}


#calendrier li img {
	width: auto;
	height: 150px;
}

#calendrier li h3 {
	font-size: 70px;
}

.popup_block{
	display: none;
	width: 100%;
	height: 100%;
	background: #fff;
	padding: 20px;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
}

.btn_close {
	color: #37BC9B;
}

.popup_block h2 {
	text-align: center;
	font-size: 40px;
}

.popup_block picture {
	text-align: center;
}

.popup_block picture img {
	max-height: 150px;
}

.popup_block h2 img {
	width: 50px;
}